@import url(./__arrow/development__arrow.css);
@import url(./__logo/development__logo.css);
@import url(./__title/development__title.css);


.development{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3454F5;
  min-width: 100vmax;
  height: 915px;
  z-index: -1;
}

@media screen and (max-width: 1582px){
  .development {
    min-width: 100%;
  }
}
