.footer__columns-list-link{
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  color: #FFFFFF;
}

.footer__columns-list-link:active{
  color: #FFFFFF;
}
.footer__columns-list-link:hover {
  opacity: 0.6;
  transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
}

