.problems__description-title{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 198px;
  width: 630px;
  height: 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}
