.calculator__description{
  width: 344px;
  height: 56px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.calculator__description:last-of-type{
  margin-left: 20px;
  margin-right: 0;
  justify-content: flex-start;
}
