.problems__description-subtitle{
  width: 485px;
  height: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-top: 25px;
  margin-left: 190px;
}
