.header__button{
  width: 206px;
  height: 48px;
  cursor: pointer;
  border: 2px solid #333333;
  border-radius: 5px;
  background: none;
  font-style: normal;
  font-weight: bold;
  color: #333333;
}

.header__button:focus{
  outline: none;
}

.header__button:active{
  outline: none;
}

.header__button:hover{
  opacity: 0.8;
  transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
}
