.dev-only__list-services-item{
  height: 24px;
  background-color: #FFFFFF;
  padding: 4px 8px 4px 8px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 8px 8px 0;
}

.dev-only__list-services-item:hover{
  opacity: 0.6;
  transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
}
