@import url(./__title/technology__title.css);
@import url(./__logo-zon/technology__logo-zon.css);
@import url(./__logo/technology__logo.css);
@import url(__content/technology__content.css);

.technology{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #EFF7FF;
  width: 100%;
  height: 346px;
}
